<div class="box">
	<div>
		<div class="body">
			<h1>About</h1>
			<h2>{{about.main.title}}</h2>
			{{{about.main.content}}}
			<hr>
			<div class="ads">
				{{#each about.ads}}
				<h2>{{this.title}}</h2>
				{{{this.content}}}
				{{/each}}
				
			</div>
			{{#each about.about_sections}}
			<h2>{{this.title}}</h2>
			{{{this.content}}}
			{{/each}}
		</div>
	</div>
</div>