<div class="box">
	<div>
		<div id="news" class="body">
			<div class="sidebar">
				{{#each news.side_article_sections}}
				{{> newsSideSection this}}
				{{/each}}
			</div>
			<div>
				<h1>News</h1>
				<img src={{news.main_article.image}} alt="Img">
				<h2>{{news.main_article.title}}</h2>
				<span class="time">{{news.main_article.date}}<br> by: {{news.main_article.author}}</span>
				{{{news.main_article.content}}}
			</div>
		</div>
	</div>
</div>