<div class="box">
	<div>
		<div class="body">
			<h1>Rooms</h1>
			<ul id="rooms">
				{{#each rooms}}
				<li>
					<a href={{this.url}}><img src={{this.image}} alt="Img"></a>
					<h2><a href={{this.url}}>{{this.name}}</a></h2>
					{{{this.description}}}
					<span class="rate">Rate: {{this.daily_rate}} / Day</span>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>